{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <meta charset="UTF-8">
    <meta name="keywords" content="acwing,web,html,nmsl">
    <meta name="description" content="本课程为【AcWing工程课系列——Level-3 第一篇】《Web应用课》，讲解Web相关知识。">
    <title>nmsl</title>
    <link rel="icon" href="/images/acapp.png" type="image/png">

    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href"{% static 'css/game.css' %}">
    <script src="{% static 'js/dist/game.js' %}"></script>

</head>

<body style="margin: 0">
    <div id="ac_game_12345678"></div>
    <script>
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
    <h1>hhh</h1>
</body>
